@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
  background-color: #5E9CB9;
  font-family: 'Raleway', sans-serif;
}

.App {
  width: 550px;
  margin: auto;
  top: 150px;
  left: 0;
  right: 0;
  position: absolute;
  height: auto;
}

#buttons{
  color: white;
  margin: 40px 0 0;
}

.content{
  margin: 40px;
  display: inline-block;
  width: 470px;
}

.buttons{
  color: white;
  background-color: #5E9CB9;
}

.posts{
  width: 45px;
  height: 40px;
  margin: 0 5px;
  font-size: 20px;
}

.coder{
  margin: 20px;
  text-align: center;
}

#new-quote{
  height: 40px;
  margin-right: 40px;
  display:inline-block;
  position: absolute;
  right: 0;
  font-size: 17px;
}

#author{
  text-align: right;
  font-size: 18px;
  margin: 20px 10px 10px;
}

#text{
  font-size: 25px;
}

#quote-box{
  border: solid 1px white;
  border-radius: 2px;
  background-color: white;
  display: inline-block;
  /* width: 550px;
  margin: auto;
  top: 150px;
  left: 0;
  right: 0;
  position: absolute;
  height: auto; */
}


btn:active{
  outline: none;
}

buttons:hover{
  color: white;
  border: inherit;
  background: inherit;
}
